<li>
  <span>fullname:</span>
  <%= chel.fullname %>

  <br/><br/>
   
  <span>firstname:</span>
  <%= chel.firstname %>
  <br/>

  <span>secondname:</span>
  <%= chel.secondname %>
  <br/>

  <span>lastname:</span>
  <%= chel.lastname %>
  <br/><br/>
</li>

